# 1) enables sharing of multiple sessions over a single network connection.
# 2) specifies how long the master connection should wait in background
#    for new clients after initial client connection has been closed.
ControlMaster auto
ControlPersist 1h

# on any host that ends with -tor:
# 1) proxy traffic using nc(1) and tor(1).
# 2) ControlPath uses %C since %h won't work with v3 onions.
Host *-tor
  ProxyCommand nc -X 5 -x 127.0.0.1:9050 %h %p
  ControlPath ~/.ssh/sockets/%C

# on host 'example':
# 1) sets hostname to example.domain
# 2) username is hubert
# 3) uses an alternate port of 2222
# 4) ControlPath can use %r@%h:%p since it is more human readable output.
Host example
  Hostname example.domain
  User hubert
  Port 2222
  ControlPath ~/.ssh/sockets/%r@%h:%p
