# The directory to which files will be copied/moved when adding them to
# the library. Defaults to ~/Music.
directory: /path/to/music/dir

import:
  languages: en
  #timid: yes

# https://beets.readthedocs.io/en/stable/plugins/index.html
plugins:
  # Fetch various AcousticBrainz metadata.
  # https://beets.readthedocs.io/en/stable/plugins/acousticbrainz.html
  - acousticbrainz

  # Use acoustic fingerprinting to identify audio files with missing or
  # incorrect metadata.
  # https://beets.readthedocs.io/en/stable/plugins/chroma.html
  - chroma

  # Edit metadata from a text editor.
  # https://beets.readthedocs.io/en/stable/plugins/edit.html
  - edit

  # Embed album art images into files' metadata.
  # https://beets.readthedocs.io/en/stable/plugins/embedart.html
  - embedart

  # Fetch album cover art from various sources.
  # https://beets.readthedocs.io/en/stable/plugins/fetchart.html
  - fetchart

  # Fetch genres based on Last.fm tags.
  # https://beets.readthedocs.io/en/stable/plugins/lastgenre.html
  - lastgenre

  # Automatically fetch song lyrics.
  # https://beets.readthedocs.io/en/stable/plugins/lyrics.html
  #- lyrics

  # Automatically notifies Kodi whenever the beets library changes.
  # https://beets.readthedocs.io/en/stable/plugins/kodiupdate.html
  - kodiupdate

  # Automatically notifies MPD whenever the beets library changes.
  # https://beets.readthedocs.io/en/stable/plugins/mpdupdate.html
  - mpdupdate

  # Calculate volume normalization for players that support it.
  # https://beets.readthedocs.io/en/stable/plugins/replaygain.html
  - replaygain

  # Clean extraneous metadata from music files.
  # https://beets.readthedocs.io/en/stable/plugins/scrub.html
  - scrub

  # Nullify fields by pattern or unconditionally.
  # https://beets.readthedocs.io/en/stable/plugins/zero.html
  #- zero

embedart:
  # without maxwidth, images above a certain size result in embed failures.
  #
  # better to limit the maximum embed width, rather than the maximum fetch width.
  maxwidth: 1000

fetchart:
  minwidth: 1000

  # not all album art is 1:1, but it can be overridden as needed.
  #
  # I typically run `beet fetchart` twice if albums are missed. The
  # first time is with this option enabled to enforce ratio on the
  # albums it can be enforced on, then the second time with this
  # commented out and the restriction relaxed to catch those that have
  # album art available that didn't meet that criteria.
  enforce_ratio: yes

  # use cover art from filesystem as a fallback if nothing can be
  # fetched.
  sources:
    - coverart
    - itunes
    - amazon
    - albumart
    - filesystem

# some of these values (port, user) match the default, but are placed
# here nevertheless for clarity.
kodi:
  host: puthost.here
  port: 8080
  user: kodi
  pwd: "opensesame"

# /usr/local/share/doc/pkg-readmes/beets
replaygain:
  backend: gstreamer

mpd:
  host: /var/run/mpd/socket
