# 1) enables sharing of multiple sessions over a single network connection.
# 2) specifies how long the master connection should wait in background
#    for new clients after initial client connection has been closed.
ControlMaster auto
ControlPersist 1h
ControlPath ~/.ssh/sockets/%r@%h:%p

# on any host that ends with -tor:
# 1) proxy traffic using nc(1) and tor(1).
# 2) disable session multiplexing.
Host *-tor
	ProxyCommand nc -X 5 -x 127.0.0.1:9050 %h %p
	ControlMaster no
	ControlPersist no
	ControlPath no

# on host 'example':
# 1) sets hostname to example.domain
# 2) username is hubert
# 3) uses an alternate port of 2222
Host example
	Hostname example.domain
	User hubert
	Port 2222
